
.nav.header.item:hover{
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
    border: none !important;
}

.item:hover{
    color: white !important;
    background-color: darkblue !important;
}

.header.side{
    font-size: 125% !important;
    color: lightblue !important;
}

.header.side:hover{
    color: lightblue !important;
    background-color: rgb(27, 28, 29) !important;
}

.item.nav:hover{
    color: blue !important;
    background-color: rgb(230, 230, 230) !important;
    border: rgb(230, 230, 230) 0.1px solid !important;
    border-radius: 10px !important;
}

.menu{
    padding: 1% !important;
    font-size: 125% !important;
}

.vertical{
    margin-top: 5.1% !important;
}
