.doc{
    display: flex !important;
    justify-content: space-between !important;
}

.detail{
    flex: 2 ;
}

.addr{
    display: flex !important;
}

.options{
    position: absolute;
    top: 125%;

}

.ico {
    display: flex;
    justify-content: center;
    font-size: 1000% !important;
    color: blue !important;
    padding: 15% !important;
}

.dem {
    display: flex;
    justify-content: center;
    font-size: 800% !important;
    padding: 15% !important;
}

.les {
    display: flex;
    justify-content: center;
    font-size: 600% !important;
    padding: 3% !important;
}


.card{
    width: 23.75% !important;
    border-radius: 10px !important;
}

